{% extends 'base.html' %} {% block title %}Configure{% endblock %} {% block
content %}

<div class="container mt-4">
  <h2>Configure</h2>
  <br />
  <h3>Active Hours:</h3>

  <!-- Set Date and Time Range -->
  <div class="form-group">
    <label for="time-range">Set Time Range:</label>
    <div class="row">
      <div class="col-md-6">
        <label for="start-time">Turn system ON at:</label>
        <input
          type="time"
          class="form-control"
          id="start-time"
          placeholder="HH:MM:SS"
          step="1"
          pattern="\d{2}:\d{2}:\d{2}"
        />
      </div>
      <div class="col-md-6">
        <label for="end-time">Turn system OFF at:</label>
        <input
          type="time"
          class="form-control"
          id="end-time"
          placeholder="HH:MM:SS"
          step="1"
          pattern="\d{2}:\d{2}:\d{2}"
        />
      </div>
    </div>
  </div>

  <!-- Set Day Range -->
  <div class="form-group">
    <label for="day-range">Set Day Range:</label>
    <div class="row">
      <div class="col-md-6">
        <label for="start-day">Start Day:</label>
        <input type="date" class="form-control" id="start-day" />
      </div>
      <div class="col-md-6">
        <label for="end-day">End Day:</label>
        <input type="date" class="form-control" id="end-day" />
      </div>
    </div>
  </div>

  <button class="btn btn-primary" onclick="saveConfiguration()">Save</button>
  <br />
  <br />
</div>

<script>
  var isDataFetched = false;

  function saveConfiguration() {
    var startTime = document.getElementById("start-time").value;
    var endTime = document.getElementById("end-time").value;
    var startDay = document.getElementById("start-day").value;
    var endDay = document.getElementById("end-day").value;

    // Update HTML fields with user-inputted values
    document.getElementById("start-time").value = startTime;
    document.getElementById("end-time").value = endTime;
    document.getElementById("start-day").value = startDay;
    document.getElementById("end-day").value = endDay;

    var data = {
      startTime: startTime,
      endTime: endTime,
      startDay: startDay,
      endDay: endDay,
    };

    // Send AJAX request to Flask endpoint to update Firebase
    fetch("/update_run", {
      method: "POST",
      body: JSON.stringify(data),
      headers: {
        "Content-Type": "application/json",
      },
    })
      .then((response) => response.json())
      .then((data) => {
        // Handle success response if needed
        console.log(data);
      })
      .catch((error) => {
        // Handle error if needed
        console.error("Error:", error);
      });
  }

  // Function to populate date and time fields with current values
  function populateDateTimeFields(start_date, start_time, end_date, end_time) {
    document.getElementById("start-time").value = start_time;
    document.getElementById("end-time").value = end_time;
    document.getElementById("start-day").value = start_date;
    document.getElementById("end-day").value = end_date;
  }

  // Fetch current date and time from the server
  function fetchCurrentDateTime() {
    const start_date = "{{ start_date }}";
    const start_time = "{{ start_time }}";
    const end_date = "{{ end_date }}";
    const end_time = "{{ end_time }}";

    // Populate the date and time fields with the current values
    populateDateTimeFields(start_date, start_time, end_date, end_time);

    isDataFetched = true;
  }

  // Call the function to fetch and populate current date and time when the page loads
  fetchCurrentDateTime();
</script>
{% endblock %}
