{% extends 'base.html' %}

{% block title %}Detected Meteors{% endblock %}

{% block content %}

<h2>Detected Meteors</h2>

<div class="form-group">
    <label for="dateFilter">Filter by Date:</label>
    <input type="date" class="form-control" id="dateFilter">
</div>
<button class="buttonA" onclick="filterByDate()">Filter</button>
<button class="buttonA" onclick="sortImagesByDate()">Sort by Date</button>

<!-- Add a grid of images with dates here -->
<div class="row mt-3" id="meteorsGrid">
    <!-- Sample Image Card -->
    <div class="col-md-4 mb-3">
        <div class="imageCard">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/9d/Fireball_imaged_by_the_Perenjori_DFN_station.jpg" class="card-img-top" alt="Sample Image">
            <div class="card-body">
                <p class="card-text">Date: 2024-02-24</p>
            </div>
        </div>
    </div>
    <b>
    TODO: grab images from firebase folder for detected meteors
    </b>
</div>


{% endblock %}